  <div class="dev-header">
    <div class="dev-avatar">
       <%= image_tag( @dev.photo, size: "450*450", class: "rounded-circle") %>
    <%# image %>
    </div>
    <div class="dev-infos">
      <h1><strong><%= @dev.name %></strong></h1>
      <h4><%= @dev.diploma %></h4>
      <div class="dev-links">
        <h4><strong>Links</strong></h4>
          <div class="dev-links-icons">
              <a href= "<%= @dev.github_link %>" ><i class="fab fa-github glow fa-3x"></i></a>
              <a href= "<%= @dev.linkedin_link %>"><i class="fab fa-instagram glow fa-3x"></i></a>
              <a href= "<%= @dev.website_link %>"><i class="fab fa-facebook glow fa-3x"></i></a>
              <a href= "<%= @dev.twitter_link %>"><i class="fab fa-twitter glow fa-3x"></i></a>
              <a href= "<%= @dev.linkedin_link %>"><i class="fab fa-linkedin glow fa-3x"></i></a>
           </div>
      </div>
      <div class="dev-description">
        <h4><strong>Description</strong></h4>
        <p><%= @dev.description %></p>
      </div>
      <div class="dev-upvote">
          <h4><strong><%= @dev.upvote %></strong></h4>
          <%= image_tag("upvote.png", class: "glow",  :height =>"40", :width => "40") %>
      </div>
    </div>
    <div class="dev-my-comment">
      <h4><strong>Your comment:</strong></h4>
      <% if @match.comment.present? %>
         <p><%= @match.comment %></p>
      <% else %>
         <p>You didn't write a note yet</p>
         <button>Add Note</button>
      <% end %>
    </div>
  </div>
  <div class="dev-missions">
    <h2><strong>Worked on</strong></h2>
    <div class="dev-missions-it">
      <% @dev.missions.each do |mission| %>
        <li><strong><%= mission.name %></strong></li>
      <%# link to mission history to add in name %>
      <% end %>
    </div>
  </div>
  <div class="dev-body">
    <div class="dev-langs-container">
        <h2><strong>Languages </strong></h2>
        <div class="dev-langs">

          <% @dev.languages.each do |l| %>
              <ul>
                <li><%= image_tag( l.icon,  :height => "30", :width => "30") %></li>
              </ul>
            <% end %>
          </div>
      </div>
      <div class="dev-softs-container">
        <h2><strong>Soft skills </strong></h2>
        <div class="dev-softs">
            <% @dev.soft_skills.each do |sk| %>
              <ul>
                  <li><%= sk.skill %></li>
              </ul>
            <% end %>
        </div>
      </div>
    <%# dev language , dev skills  %>
    </div>
    <div class="dev-contact">
      <div class="avail-chat">
          <% if @dev.availability == true %>
            <%= image_tag("true.png",   :height => "40", :width => "40", class: "rounded-circle pin") %>
          <% else %>
            <%= image_tag("false.png",   :height => "40", :width => "40", class: "rounded-circle") %>
          <% end %>
          <h3 class="glow"><strong>Chat</strong></h3>
      </div>
      <div class="dev-mail">
          <i class="fa fa-envelope glow fa-6x" aria-hidden="true"></i>
          <% @dev.email %>
      </div>
      <div class="ring-a-bell">
          <i class="fa-solid fa-bell glow fa-6x"></i>
      </div>
    <%# dev availability = chat , bell to notify  %>
  </div>
