<div class="dev-outer-card">
  <% @matches.each do |match| %>
    <div class="dev-inner-card">
        <div class="dev-inner-card-image">
          <%= link_to image_tag( match.dev.photo, class: "rounded-circle bubu"), match_path(match) %>
        </div>
        <div class="border-div">
          <div class="dev-inner-card-col">
              <h4>Infos:</h4>
                <div class="pad-title-content">
                  <h5><%= link_to match.dev.name, match_path(match) %></h5>
                  <p><%= match.dev.diploma %></p>
                  <p><%= match.dev.location %></p>
                </div>
           </div>
        </div>
        <div class="border-div">
          <div class="dev-inner-card-col">
            <h4>Languages:</h4>
              <div class="pad-title-content-title">
                <% match.dev.languages.first(2).each do |l| %>
                 <ul>
                  <li style="list-style: none" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= pluralize(l.langtype, "review") %>"><%= image_tag( l.langicon,  :height => "40", :width => "40") %></li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
        <div class="border-div">
          <div class="dev-inner-card-col soft">
          <h4>Soft skills:</h4>
          <div class="pad-title-content">
              <% match.dev.soft_skills.first(2).each do |sk| %>
                <ul>
                  <li><%= sk.skill %></li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
        <div class="border-div">
            <div class="dev-inner-card-col">
              <div class="dev-inner-card-chat">
                  <% if match.dev.availability == true %>
                    <%= image_tag("true.png",  :height =>"20", :width => "20", class: "rounded-circle") %>
                  <% else %>
                    <%= image_tag("false.png",  :height =>"20", :width => "20", class: "rounded-circle") %>
                  <% end %>
                  <p>Chat</p>
              </div>
            </div>
            <div class="border-div-vote">
              <div class="dev-inner-card-vote">
                  <p><%= match.dev.upvote %></p>
                  <%= image_tag("upvote.png",  :height =>"20", :width => "20", :class => "glow") %>
              </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
