      <div class="pending-nav" >
        <div class="pend-text">
          <h1><%= @mission.name %></h1>
        </div>
        <div class="pend-btn">
          <a class="my-button" href=""><%= link_to "Back to Match", match_landing_path(@mission) %></a>
        </div>
        <div class="pend-btn">
          <a class="my-button" href=""><%= link_to "Dashboard", user_dashboard_path(@dashboard) %></a>
        </div>
      </div>

      <div class="mission-specs">
        <div class="mission-desc">
          <h4>Description</h4>
          <p><%= @mission.description %> </p>
        </div>
        <div class="mission-datedom">
          <div class="mission-date">
            <h4>Date</h4>
            <p>from : <%= @mission.start_date %> to : <%= @mission.end_date %></p>
          </div>
          <div class="mission-dom">
            <h4>Area</h4>
            <p><%= @mission.area %></p>
          </div>
        </div>
        <div class="mission-langsoft">
          <div class="mission-lang">
            <h4>Languages</h4>

          <div class="lang-logos">
             <% @mission.languages.first(8).each do |language| %>
               <p style="list-style: none" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= pluralize(language.langtype, "review") %>"><%= image_tag(language.langicon, size: "40x40")%></p>
              <% end %>
          </div>
          </div>
          <div class="mission-soft">
            <h4>Soft skills</h4>
            <div class="mission-soft-column">
              <% @mission.soft_skills.last(6).each do |soft_skill| %>
              <p><strong><%= soft_skill.skill %></strong> </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
