<h1>Your dashboard</h1>
<div class="container">
<div class="createmission">
  <div class="newmission"><%= link_to "Create a new mission", new_mission_path(@mission) %>
  </div>
</div>
  <div class="misfavs">
    <div class="missions">
     <h2>Missions</h2>
        <% @missions.last(3).each do |mission| %>
          <div class="namego">
            <p class="missionname"><strong><%= link_to mission.name, mission_path(mission) %></strong></p>
            <p class="go"><%= link_to "Go", mission_path(mission) %></p>
           </div>
        <% end %>
    </div>

<div class="favoris">
  <h2>Favorites</h2>
  <%= current_user.fav %>
  <ul>
<%# il faut afficher ici les avatars, noms et infos des devs %>
  <li>T. Lannister</li>
  <li>D. Targaryen</li>
  <li>N. Stark</li>
  <li>R. Barateno</li>
  <li>N. Stark</li>
  </ul>
</div>
  </div>
<div>
<h2> History </h2>
<div class="custom-container">
  <div class="history-comp">
    <div class="hist-elmnt1">
      <h3>Titre</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Sem viverra aliquet eget sit amet tellus cras
      </p>
    </div>
    <div class="hist-elmnt2">
      <div class="soft-elmnt">
      <h4>Soft skills</h4>
      <p> Adaptability, Sense of Organization, Rigour </p>
      </div>
      <div class="date-elmnt">
        <h4> Date</h4>
        <p> from 01/10/2023 to 30/10/2023 </p>
      </div>
    </div>
    <div class="hist-elmnt3">
      <h4>Languages</h4>
      <%# <%= image_tag("13java.svg") %>
    </div>
    <div class="hist-elmnt4">
      <h4>Devs</h4>
      <div class="dev-elmnt">

      </div>
      <div>
        <p>"Go re-match!"</p>
      </div>
    </div>
  </div>

</div>
</div>
