<%# <div class="container"> %>
<div class="todo">
  <div class="frame">
    <div class="new-miss-frame">
      <div class="createmission">
        <div class="newmission"><%= link_to "Create a new mission", new_mission_path(@mission) %>
        </div>
      </div>
    </div>
  </div>

  <div class="frame-dos">

    <div class="missions">
      <div class="titulo-miss">
        <h2>Missions</h2>
        <span class="linea"></span>
      </div>
        <% @missions.last(3).each do |mission| %>
          <div class="namego">
            <p class="missionname"><strong><%= link_to mission.name, mission_path(mission) %></strong></p>
            <p class="go"><%= link_to "Go", mission_path(mission) %></p>
          </div>
        <% end %>
    </div>
    <div class="favoris">
      <div class="titulo-favs">
        <h2>Favorites</h2>
        <span class="linea"></span>
        </div>
        <%= render "favorites", locals: {current_user: current_user, mission: @mission} %>
    </div>

  </div>
  <div class="frame-tres">
      <div class="titulo">
        <h2> History </h2>
        <span class="linea"></span>
      </div>
    <div class="custom-container">
      <%= render "mission_history", locals: {missions: @missions} %>
    </div>
  </div>
</div>
<%# </div> %>
