
<h1>Your dashboard</h1>
<div class="container">
<div class="createmission">
  <div class="newmission"><%= link_to "Create a new mission", new_mission_path(@mission) %>
  </div>
</div>
  <div class="misfavs">
    <div class="missions">
     <h2>Missions</h2>
        <% @missions.each do |mission| %>
          <div class="namego">
            <p class="missionname"><strong><%= link_to mission.name, mission_path(mission) %></strong></p>
            <p class="go"><%= link_to "Go", mission_path(mission) %></p>
           </div>
        <% end %>
    </div>

<div class="favoris">
  <h2>Favorites</h2>
  <%= current_user.fav %>
  <ul>
<%# il faut afficher ici les avatars, noms et infos des devs %>
  <li>T. Lannister</li>
  <li>D. Targaryen</li>
  <li>N. Stark</li>
  <li>R. Barateno</li>
  <li>N. Stark</li>
  </ul>
</div>
  </div>
<div>
Historique
  <% @missions.each do |mission|  %>
    <p><strong><%= link_to mission.name, mission_path(mission)%></strong></p>
    <p><%= link_to "renew", rematch_path(mission.id) %>
  <% end %>
</div>
</div>
