<h1>coucou les matches</h1>
<button><%= link_to "retour dashboard", user_dashboard_path %></button>
<button><%= link_to "retour aux matches", match_landing_path(@mission) %></button>
<div>
  <p><%= @clara.name %></p>
  <p><%= @clara.description %></p>
</div>
<div>
     <% @clara.matches.each do |match| %>
        <h2><%= match.dev_id %></h2>
         <p><%= match.comment %></p>
      <% end %>
</div>
