<h1>The DEVS who match with you</h1>

  <div>
    <h2><%= @mission.name %></h2>
    <p><%= @mission.description %></p>
  </div>

  <div>
      <% @mission.matches.each do |match| %>
        <h2><%= match.dev_id %></h2>
        <p><%= match.comment %></p>
      <% end %>
  </div>
    <div class="buttons-matches">
      <%= link_to "Back to dashboard", user_dashboard_path %>
      <%= link_to "Back to matches", match_landing_path(@mission) %>
    </div>
