  <div data-controller="match"
   data-match-dev-value="<%= @best %>"
   data-match-index-value="<%= @best_index %>"
   data-match-mission-id-value="<%= @mission.id %>"
   class="match-outer-card">
    <h1 id="main-title"><strong><%= @mission.name %></strong></h1>
    <div class="basket">
      <div class="basket-superpose">
          <h2><strong>Your list :</strong></h2>
          <% @mission.matches.each do |match| %>
            <li class="basket-li">
             <%= image_tag match.dev.photo , style: 'height:40px;width:40px;', data: { target: 'match.next' }, class: "rounded-circle" %>
             <%= match.dev.name %>
            </li>
          <% end %>
      </div>
    </div>
    <div class="big-center">
      <div class="match-dev-infos">

        <div class="dev-img"  >
           <div class="superpose">
              <div class="superpose_child">
                 <p class=<%= @best >= @last_dev - 1 ? "" : "d-none" %> >Vous avez fait le tour</p>
              </div>
            </div>
          <%= image_tag @dev.photo , style: 'height:300px;width:300px;', data: { target: 'match.next' } %>
          <%= @dev.name %>
          <div  class="match-buttons" >

            <%= form_with url: lmatch_landing_dev_switcher_path(@mission.id), data: {
                match_target: "form",
                action: "submit->match#selected"
              } do |f| %>
              <%= f.hidden_field :query, value: @best %>
              <%= f.hidden_field :best_index, value: @best_index %>
              <%= f.hidden_field :selected_dev_id, value: @dev.id %>
              <%= f.submit "Select" %>
            <% end %>

            <%= form_with url: lmatch_landing_dev_switcher_path(@mission.id), data: {
              match_target: "form",
                action: "submit->match#next"
              } do |f| %>
              <%= f.hidden_field :query, value: @best %>
              <%= f.hidden_field :best_index, value: @best_index %>
              <%= f.submit "Next" %>
            <% end %>
          </div>
        </div>
      <div  class="dev-details">
      <div >
        <p data-match-target="selection"> </p>
        <%# <% @thebest = Dev.find(@best) %>
        <h3 ><%= @dev.name %></h3>
        <h4><%= @dev.diploma %></h4>
      </div>
      <div>
        <h4><strong>Links</strong></h4>
           <div class="dev-links-icons">
              <a href= "<%= @dev.github_link %>" ><i class="fab fa-github glow fa-3x"></i></a>
              <a href= "<%= @dev.linkedin_link %>"><i class="fab fa-instagram glow fa-3x"></i></a>
              <a href= "<%= @dev.website_link %>"><i class="fab fa-facebook glow fa-3x"></i></a>
              <a href= "<%= @dev.twitter_link %>"><i class="fab fa-twitter glow fa-3x"></i></a>
              <a href= "<%= @dev.linkedin_link %>"><i class="fab fa-linkedin glow fa-3x"></i></a>
           </div>
      </div>
      <div >
        <p class="dev-description">
           <%= @dev.description %>
        </p>
      </div>
      <div class="skill-div">
        <h4><strong>Languages</strong></h4>
        <ul>
          <% @dev.languages.each do |language| %>
            <li><%= language.langtype%></li>
            <% end %>
        </ul>
      </div>
      <div class="skill-div">
        <h4><strong>Soft skills</strong></h4>
        <ul>
          <% @dev.soft_skills.each do |sk| %>
            <li><%= sk.skill%></li>
          <% end %>
        </ul>
      </div>
      <div class="skill-div">
      <h4><strong>Infos</strong></h4>
        <p><strong>City:</strong> <%=@dev.location %></p>
        <p><strong>Area: </strong><%=@dev.area %></p>
      </div >
      <div class="button-div" >
        <button><%= link_to "Reselect", edit_mission_path(@mission) %></button>
        <button > <%=link_to "Selected profiles", mission_matches_path(@mission)  %></button>
      </div>
      </div>
    </div>











  </div>
  <button><%= link_to "VOS PROFILS", mission_matches_path(@mission) %></button>
  <div>
  </div>

    <button><%= link_to 'Back', :back %></button>
</div>
