
<div class="form_container">
  <div class="mission-form">
  <h1>Step 2</h1>
    <br />
      <h2>Please describe your Mission and needs</h2>
        <%= simple_form_for @mission, :url => update_step_three_path, :method => :post do |f| %>
          <%= simple_fields_for :soft_skills do |sk| %>
            <% sk.input :skills, collection: User.all %>
          <% end %>
          <%= f.input :name, :placeholder => "Mission name"%>
          <%= f.input :area, :placeholder =>"Business area"%>
          <%= f.input :location, :placeholder =>"Location"%>
          <%= f.input :price, :placeholder =>"0"%>
          <%= f.input :start_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :end_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :description, :placeholder =>"Describe your mission here..."%>
          <%= f.button :submit, "Next step"%>
        <% end %>
  </div>
</div>
<button><%= link_to 'Back', edit_mission_path(@mission) %></button>
