
<div class="form_container">
  <div class="mission-form">
  <h1>Step 3</h1>
    <br />
      <h2>Which Soft skills do you need ?</h2>
        <%= simple_form_for @mission do |f| %>
        <%= simple_fields_for :soft_skills do |sk| %>
          <% sk.input :skills, collection: SoftSkill.all %>
          <% end %>
          <%= f.hidden_field :query, value: @best %>
          <%= f.button :submit, "Match!" %>
        <% end %>
  </div>
</div>
<button><%= link_to 'Back', step_two_path(@mission) %></button>
