
<h1>Mission : <%= @mission.name %></h1>
<div class="container">
<div class="missionshow">
        <div class="mission-desc">
          <p><%= @mission.description %> </p>
        </div>
        <div class="">
          <div class="mission-date">
            <h4>Date</h4>
            <p>from : <%= @mission.start_date %> to : <%= @mission.end_date %></p>
          </div>
          <div class="mission-dom">
            <h4>Area</h4>
            <p><%= @mission.area %></p>
          </div>
        </div>

        <div class="">
          <div class="mission-lang">
            <h4>Languages</h4>
            <div class="lang-logos">
            <ul>
             <% @mission.languages.each do |language| %>
                <li style="list-style: none" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= pluralize(language.langtype, "review") %>"><%= image_tag(language.langicon, size: "30x30")%></li>
              <% end %>
              </ul>
            </div>
          </div>
          <div class="mission-soft">
            <h4>Soft skills</h4>
            <% @mission.soft_skills.last(2).each do |soft_skill| %>
            <p><%= soft_skill.skill %> </p>
            <% end %>
            <h4>Selected Devs</h4>
            <% @mission.devs.each do |dev| %>
            <p><%= dev.name %></p>
            <% end %>
          </div>
        </div>

</div>
</div>
<div class="pend-btn">
          <a class="my-button" href=""><%= link_to "Back to Match", match_landing_path(@mission) %></a>
        </div>
        <div class="pend-btn">
          <a class="my-button" href=""><%= link_to "Dashboard", user_dashboard_path(@dashboard) %></a>
        </div>
